@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
html {
  font-size: 62.5%;
}

/**Esto es para poder calcular los rem mas sencillos, y contarlos como 10px*/
* {
  margin: 0rem;
  padding: 0;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 7rem;
  text-align: center;
}

/**Esto es para seleccionar el color y el tamaño de la fuente de nuestro titulo principal**/
h2 {
  font-size: 3rem;
}

/**Este para modificar nuestros subtitulos**/
p {
  font-size: 2rem;
}

/*este para modificar nuestros párrafos*/
.texto {
  text-align: center;
}

body {
  font-family: "Lato";
  font-weight: 400;
}

.header {
  background-color: antiquewhite;
}
.header .nav-item {
  font-size: 2rem;
}

.contenedormain {
  position: relative;
  text-align: center;
}

.textomain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.h1main {
  margin-top: 0;
  color: antiquewhite;
}

.pmain {
  margin-bottom: 0;
  font-size: 2.5rem;
}

.contenedormain img {
  width: 100%;
  height: auto;
  filter: blur(1.5px);
}

.colorFondo {
  text-align: center;
  font-size: 2rem;
  background-color: hotpink;
}
.colorFondo .icon {
  color: black;
  font-size: 35px;
  align-items: center;
}

@media (max-width: 768px) {
  /* Estilos para pantallas más pequeñas, como dispositivos móviles */
  .textomain {
    padding: 10px;
    border-radius: 40px;
    font-size: 16px;
  }
  .h1main {
    margin-top: 0;
    color: antiquewhite;
    font-size: 2rem;
  }
  .pmain {
    margin-bottom: 0;
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  /* Estilos para pantallas más pequeñas, como dispositivos móviles en modo retrato */
  .texto {
    font-size: 14px;
  }
}
.textotesti {
  background-color: hotpink;
  text-align: center;
}

.testimonios {
  margin-bottom: 2rem;
}

.card-group {
  column-gap: 10px;
}

.card-img-top {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.izquierda {
  background-image: url("../assets/img/smiley-woman-playing-shelter-with-dog-waiting-be-adopted.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.derecha {
  height: 50vh;
  border: 1px solid rgb(219, 177, 194);
  background-color: rgb(221, 156, 181);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.izquierda2 {
  background-image: url("../assets/img/jornadaacompanamiento.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.derecha2 {
  height: 50vh;
  border: 1px solid rgb(219, 177, 194);
  background-color: rgb(221, 156, 181);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.izquierda3 {
  background-image: url("../assets/img/jornadaalimentacion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.derecha3 {
  height: 50vh;
  border: 1px solid rgb(219, 177, 194);
  background-color: rgb(221, 156, 181);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.derechosreservados {
  font-size: 1.5rem;
}

.piedepagina {
  background-color: antiquewhite;
  text-align: center;
  font-size: 4rem;
}

.containermetas {
  text-align: center;
  font-size: 2rem;
  background-color: hotpink;
}

.card-title {
  text-align: center;
  font-size: 3rem;
}

.redes {
  background-position: center;
}

.formulario {
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
