body{
    font-family: 'Lato';
    font-weight: 400;

}

.btn {
    background-color: $color-secundario;
    border-color: palevioletred;
  }
.card-title{
    text-align: $text-align-center;
    font-size: $size3rem;
}