.paraimagen {
  background-image: url(../assets/img/portadaperritos.jpg);
  @include paraimagen;}
    .overlay {
      @include overlay;}
    .content {
      @include content;}
    .h1contacto {
      @include h1img;}
    p {
      @include pimg}

.contact-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-size: $size2rem;}
  .contact-info {
    background-color: #f2f2f2;
    padding: 20px;
  }