.paraimagenayudar {
  background-image: url(../assets/img/como\ ayudar\ perrito.jpg);
  @include paraimagen;
    .overlay {
      @include overlay;
        .content {
          @include content; }
    .h1ayudar {
      @include h1img }
        p {
          @include pimg; }}
    .contenedor {
      margin-left: $size5rem;
      margin-right: $size5rem;
      margin-top: $size5rem;
      margin-bottom: $size5rem;}
    .card-body1 {
  background-color: $principal-color;
    }}