$principal-color: antiquewhite;
$color-secundario: hotpink;
$text-align-center: center;
$background-norepeat: no-repeat;
$background-size-cover: cover;
$background-center: center;
$height50: 50vh;
$border10-color: 10px solid rgb(219, 177, 194);
$background-color-jornadas: rgb(221, 156, 181);
$colorblanco: white;
$display-flex: flex;
$flex-direction-colimn: column;
$align-items-center: center;
$justify-content-center: center;
$position-relative: relative;
$position-absolute: absolute;
$size5rem: 5rem;
$size4rem: 4rem;
$size3rem: 3rem;
$size2rem: 2rem;






