$principal-color: antiquewhite;
$color-secundario: hotpink;
$text-align-center: center;
$background-norepeat: no-repeat;
$background-size-cover: cover;
$background-center: center;
$height50: 50vh;



