@import "reset.scss";
@import "generales.scss";
@import "header.scss";
@import "mainindex.scss";
@import "maintestimonios";
@import "mainjornadas";
@import "maincomopuedoayudar";
@import "footer.scss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');







.containermetas{
    text-align: center;
    font-size: 2rem;
    background-color: hotpink;
}

.card-title{
    text-align: center;
    font-size: 3rem;
}




.redes{
    background-position: center;
}

.formulario{
    font-size: 2rem;
}

